.column {
  width: 600px;
  float: left;
  background-color: white;
}

.column1 {
  width: 600px;
  float: left;
  background-color: green;
}

.column2 {
  width: 600px;
  float: left;
  background-color: yellow;
}

.bo {
  border: 2px solid red;
}
 html {
   background-color: grey;
 }

 .intro {
   text-align: center;
   font-size: 30px;
 }
